<ng-container *ngIf="probabilityFunctions; else loading">
  <form [formGroup]="form">
    <input type="number" formControlName="probabilityA">
    <input type="number" formControlName="probabilityB">

    <ng-container *ngFor="let probabilityFunction of probabilityFunctions">
      <input [id]="probabilityFunction" type="radio" [value]="probabilityFunction" formControlName="probabilityFunction">
      <label>{{ probabilityFunction }}</label>
    </ng-container>
  </form>

  <div *ngIf="error">
    {{ error }}
  </div>
  
  <button type="submit" (click)="calculate()" [disabled]="!form.valid">Calculate</button>
  
  {{ result }}
</ng-container>

<ng-template #loading>
  Loading...
</ng-template>